.container{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: repeat(4, 1fr);
    gap: 10px;
}
.column_1{
    background-color: crimson;
}

.column_2{
    background-color: aquamarine;
}
.cell{
    padding: 20px;
    /* background-color: rgb(142, 37, 37); */
    border: 2px solid black ;
}
.footer{
    background-color: yellow;
    grid-area: 4 / 1 / 5 / 3;
    /* grid-column: 1 / span 2; */
}