.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.quotebox{
  /* background-color: rgba(164, 60, 60, 0.398); */
  border-radius: 30px;
  padding: 3%;
  text-align: right;
}

.fadeIn{
text-align: left;
}
#author{
  text-align: right;
  margin-right: 4%;
}




.App-header {
  /* background-color: #315fbc; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  /* color: white; */
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
