
.container{
    border: 3px solid red;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    flex-direction:column ;
    gap: 10px;
    /* height: 100vh; */
  
}
.box{
    background-color: aqua;
    height: 60px;
}
.box_1{
   width: 60%;
   /* flex-grow: 1; */

}
.box_2{
    width: 100%;
    /* flex-grow: 1; */
}
.box_3{
    width: 60%;
    /* flex-grow: 1 ; */
}