
.container{
    border: 3px solid red;
    display: flex;
    /* align-items: flex-end; */
    /* justify-content: center; */
    flex-direction:column ;
    gap: 10px;
    /* height: 100vh; */
    /* width: 100vh; */
  
}
.box{
    background-color: aqua;
    height: 60px;
}

.box_2{
    /* width: 50%; */
    /* flex-grow: ; */
    align-self: flex-end;
    width: 300px;
}
