.nav_bar li{
    display: inline-block;
    float: right;
    color: blanchedalmond;
    font-family: Arial, Helvetica, sans-serif;
    padding: 15px;
    
    
    }
.logo{
    height: 40px;
    
    }
.nav_bar{
    background-color: black;
  

}
body{
    background-image: url(thor_img.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
}
p{
    font-size: large;
    font-family: "moon dance";
    font-weight: bold;
}

